<h1>タスク一覧</h1>
<%= button_to '新規作成', new_task_path, method: :get %>
<div>
  <%= search_form_for @q, url: task_index_path do |f| %>
    <%= f.search_field :title_cont, placeholder: 'タイトル' %>
    <%= f.submit "検索" %>
  <% end %>
  <table style="width: 100%">
    <thead>
      <tr>
      <th class="w-no">#</th>
      <th class="w-date">登録日</th>
      <th>タイトル</th>
      <th class="w-status">ステータス</th>
      <th class="w-date">終了期限</th>
      <th class="w-button">操作</th>
      </tr>
    </thead>
    <tbody>
      <% @results.each do |r| %>
      <tr>
        <td class="text-center"><%= r.id %></td>
        <td><%= l(r.created_at) %></td>
        <td><%= link_to r.title, task_path(r.id) %></td>
        <td class="text-center"><%= r.status %></td>
        <td class="text-center"><%= r.ended_at %></td>
        <td class="text-center">
        <div class="btn-group">
          <%= button_to '編集', edit_task_path(r.id), method: :get %>
          <%= button_to '削除', task_path(r.id), method: :delete %>
        </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= notice %>