<h1><%= ta_t("title") %></h1>
<%= button_to ta_t("btn.new"), new_task_path, method: :get %>
<div>
  <%= search_form_for @q, url: task_index_path do |f| %>
    <%= f.search_field :title_cont, placeholder: ta_t("search.form.title") %>
    <%= f.submit ta_t("search.form.submit") %>
  <% end %>
  <table style="width: 100%">
    <thead>
      <tr>
      <th class="w-no">#</th>
      <th class="w-date"><%= ta_t("results.header.created_at") %></th>
      <th><%= ta_t("results.header.title") %></th>
      <th class="w-status"><%= ta_t("results.header.status") %></th>
      <th class="w-date"><%= ta_t("results.header.ended_at") %></th>
      <th class="w-button"><%= ta_t("results.header.action") %></th>
      </tr>
    </thead>
    <tbody>
      <% @results.each do |r| %>
      <tr>
        <td class="text-center"><%= r.id %></td>
        <td><%= l(r.created_at) %></td>
        <td><%= link_to r.title, task_path(r.id) %></td>
        <td class="text-center"><%= I18n.t("enums.task.status.#{r.status}") %></td>
        <td class="text-center"><%= r.ended_at %></td>
        <td class="text-center">
        <div class="btn-group">
          <%= button_to ta_t("results.body.btn.edit"), edit_task_path(r.id), method: :get %>
          <%= button_to ta_t("results.body.btn.destroy"), task_path(r.id), method: :delete %>
        </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= notice %>