<h1><%= ta_t("title") %></h1>
<%= form_for @task, url: task_index_path do |f| %>

  <div class="field">
    <%= f.label :title, ta_t("form.title"), style: "display: block" %>
    <%= f.text_field :title, readonly: true %>
  </div>

  <div class="field">
    <%= f.label :description, ta_t("form.description"), style: "display: block" %>
    <%= f.text_area  :description, readonly: true %>
  </div>

  <div class="field">
    <%= f.label :ended_at, ta_t("form.ended_at"), style: "display: block" %>
    <%= f.date_field :ended_at, readonly: true %>
  </div>

  <div class="field">
    <%= f.label :status, ta_t("form.status"), style: "display: block" %>
    <%= f.select :status, Task.statuses.keys.map {|k| [I18n.t("enums.task.status.#{k}"), k, disabled: true]} %>
  </div>
  
<% end %>

<%= button_to ta_t("btn.edit"), edit_task_path(@task.id), method: :get %>

<%= link_to ta_t("btn.back"), task_index_path %>