<h1>タスク詳細</h1>
<%= form_for @task, url: task_index_path do |f| %>

  <div class="field">
    <%= f.label :title, "タイトル", style: "display: block" %>
    <%= f.text_field :title, reqired: true, readonly: true%>
  </div>

  <div class="field">
    <%= f.label :discriptions, "説明", style: "display: block" %>
    <%= f.text_area  :discriptions, readonly: true %>
  </div>
  
<% end %>

<%= button_to '編集', edit_task_path(@task.task_no), method: :get %>
